@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: ocr;
    src: url(../fonts/OCR\ A\ Extended\ Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;

}

/*começa a configuração da navbar*/

header {
    width: 100%;
}

body {
    background-color: red;
    font-family:'Poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.logo {
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    height: 12vh;
    text-transform: uppercase;
    font-family: ocr;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 30px;
}

.navbar--fixada{
    position:fixed;
    top:0;
    width:100%;
    box-shadow: 0px 2px 7px black; 
    background: #23213A;   
}

.mobile-menu {
    display: none;
    cursor: pointer;

}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

/*responsividade da navbar*/

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23213A;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
        font-size:20px;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
    display: flex;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*fim da configuração da navbar*/

.banner-espaco{
    background-color: yellow;
    height: 14vh;
    margin-top: -90px
}

/*começo da configuração da main*/


/*inicio da Home*/
#home{
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}

.container{
    width: 100%;
    display: flex;
}
.banner{
    height: 78.9vh;
    width: 55%;
    display: flex;
    justify-content: center; 
    margin: 0 auto;

}
.img-banner{
    width: 40%;
    height: 70vh;
    margin-top: 4%;
    object-fit:fill;
}

.text h1{
    text-decoration: underline;
    text-decoration-color: #fff;
    font-size: 70px;
}

.text{
    color: white;
    width: 30%;
    height:auto;
    margin-left: 10%;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}

/*fim da configuração da Home*/

/*começo da configuração da Projetos*/

#projetos{
    background-color: #A3A3A3;
    text-align: center;
    height: 70vh;
}

.container2{
    width: 100%;
    display: column;
    justify-content: center;
    align-content: center;
    padding-top: 5%;
}

.text2{
    color: white;
    width: 100%;
    height:auto;
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
}

.card{
    background: #fff;
    width: 20%;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 10px 10px 50px black;
    margin: 0 auto;
}

.topCard{
    width: 100%;
    height: 10vh;
    font-family: cream;
}
.midCard{
    width: 100%;
    height: 30vh;
}
.bottomCard{
    width:100%;
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.img-card{
    width: 90%;
    height: 30vh;
}
.btnCard{
    box-shadow: 2px 2px 2px black;
    background: #23213A ;
    width: 50%;
    height: 5vh;
} 
/*fim da configuração da Projetos*/